.ban{
    text-decoration-color: red;
    position: absolute;
    margin-left: 400px;
    margin-top: 350px;
}
.green{ 
    
    height: 300px;
    width: 500px;
    background-color: green;
    position: absolute;
    margin-left: 200px;
    margin-top: 33px;  
}  
.red{
    
    height: 200px;
    width: 200px;
    background-color: red;
    margin-left: 134px;
    margin-top: 48px;
    border-radius: 147px;
   
}
.darkslategray{
    
    height: 627px;
    width: 20px;
    background-color: darkslategray;
    position: absolute;
    margin-top: -69px;
    margin-left: -154px;
}